{% extends "projects/layout.html" %}
{% block content %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"> -->
{% if latest_project_list %}
<div class="row">
    <div class="card-deck">
        {% for project in latest_project_list %}
        <div class="card">
            {% if project.image %}
                <img src="{{ project.image.url }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ project.name }}</h5>
              <p class="card-text">{{ project.details }}</p>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}